@import '../../styles/Variables.scss';

.wrapper {
  display: flex;
  flex-direction: column;
  gap: calc($index * 3);
  padding: calc($index * 3);
}
.container {
  display: flex;
  flex-direction: column;
}
.contentProduct {
  display: flex;
  justify-content: space-around;
  gap: 60px;
}
.title {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
} 
.orderButton {
  position: relative;
  color: white;
  font-size: 18px;
  background-color: $primary-color;
  border-radius: calc($index * 2);
  border: 1px solid $primary-color;
  padding: calc($index * .5) calc($index * 5);
  box-shadow: 0 5px 10px rgba(black, .25);
  transition: $transition linear;
  @media (hover: hover) {
    &:hover {
      background-color: transparent;
      color: $primary-color;
      box-shadow: none;
    }
    &:active {
      color: $yellow;
      border-color: $yellow;
    }
  }
  @media (hover: none) {
    &:active {
      background-color: transparent;
      color: $primary-color;
      box-shadow: none;
    }
  }
}
.textNotOrder {
  color: $red;
}
.docsLi {
  width: fit-content;
  display: flex;
  flex-direction: column;
  gap: $index;
  box-shadow: inset 0 0 10px rgba(black, .25);
  border-radius: calc($index * 1.5);
  padding: calc($index * 2);
}
.imageProduct {
  aspect-ratio: 1;
  width: calc($index * 20);
  object-fit: cover;
  border-radius: $index;
  box-shadow: 0 8px 16px rgba(black, .25);
}
@media (width < 1024px) {
  .container {
    gap: 60px;
  }
}
@media (width < 900px) {
  .wrapper {
    padding: calc($index * 2);
  }
}
@media (width < 580px) {
  .title {
    gap: 20px;
    h1 {
      font-size: x-large;
    }
  }
  .contentProduct {
    gap: 30px;
  }
  .imageProduct {
    width: 30svw;
  }
}
@media (width < 440px) {
  .contentProduct {
    flex-direction: column;
  }
  .imageProduct {
    width: auto;
  }
}