@import './Variables.scss';

.container {
  padding: calc($index * 3) calc($index * 4);
  display: flex;
  flex-direction: column;
  gap: calc($index * 4);
  p {
    text-wrap: balance;
  }
}
.title {
  text-align: center;
  width: 70svw;
  margin-inline: auto;
  padding-bottom: calc($index * 4);
  padding-inline: calc($index * 2);
  border-bottom: 1px solid $titan-color;
  text-wrap: balance;
}
.content1__container {
  margin-inline: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: calc($index * 3);
  box-shadow: inset 0 0 10px rgba(black, .25);
  border-radius: calc($index * 2);
  h2 {
    text-align: center;
    color: $primary-color;
  }
  .content1 {
    display: flex;
    justify-content: space-between;
  }
}
.content2 {
  background-color: $accent-color;
  border-radius: calc($index * 2);
  box-shadow: 0 10px 20px rgba(black, 0.5);
  padding: calc($index * 3);
  display: flex;
  justify-content: space-between;
  gap: 60px;
  color: $basic-color;
  text-wrap: balance;
  article {
    width: 200px;
  }
  h2 {
    color: $yellow;
  }
}
.historyCreations__container {
  display: flex;
  flex-direction: column;
  gap: 60px;
  box-shadow: inset 0 0 10px rgba(black, .25);
  border-radius: calc($index * 2);
  h2 {
    text-align: center;
  }
}
.historyCreations {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 60px;
  h3 {
    color: $primary-color;
  }
}

@media (width < 940px) {
  .container {
    padding: calc($index * 2);
  }
  .content1 {
    flex-direction: column;
    gap: 60px;
    border-bottom: 1px solid $text-color;
    padding-bottom: 60px;
  }
  .content2 {
    flex-direction: column;
  }
  .historyCreations {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 30px;
  }
}
@media (width < 700px) {
  .title {
    padding-inline: 0;
    width: 100%;
  }
  .historyCreations {
    display: flex;
    flex-direction: column;
  }
}
