@import "./Variables.scss";

.wrapper {
  display: flex;
  flex-direction: column;
  gap: calc($index * 4);
}
.categories__wrapper {
  display: flex;
  flex-direction: column;
  gap: calc($index * 2);
  h2 {
    color: $primary-color;
    text-align: center;
  }
}
.categories {
  border-bottom: 1px solid $titan-color;
  padding-bottom: $index;
}
.products {
  position: relative;
  display: grid;
  place-items: center;
  grid-template-rows: auto;
  grid-template-columns: repeat(4, 1fr);
  gap: calc($index * 2);
}

@media (width > 1600px) {
  .wrapper {
    padding-inline: calc($index * 6);
  }
}
@media (width < 1330px) {
  .categories__wrapper h2 {
    text-align: start;
    color: $primary-color;
  }
  .products {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media (width < 1200px) {
  .products {
    grid-template-columns: repeat(3, 1fr);
    margin-inline: auto;
  }
}
@media (width < 780px) {
  .products {
    gap: $index;
  }
}
@media (width < 680px) {
  .products {
    grid-template-columns: repeat(2, 1fr);
    gap: $index;
  }
}
@media (width < 340px) {
  .products {
    grid-template-columns: 1fr;
  }
}
