@import "./Variables.scss";

.wrapper {
  display: flex;
  flex-direction: column;
  gap: calc($index * 4);
  padding: calc($index * 3);
}
.container {
  display: flex;
  flex-direction: column;
  gap: 60px;
}
.categories__wrapper {
  display: flex;
  flex-direction: column;
  gap: calc($index * 2);
  h2 {
    color: $primary-color;
    text-align: center;
  }
}
.categories {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  border-bottom: 1px solid $titan-color;
  padding-bottom: $index;
  button {
    text-align: start;
  }
}
.products {
  position: relative;
  display: grid;
  place-items: center;
  grid-template-rows: auto;
  grid-template-columns: repeat(4, 1fr);
  gap: calc($index * 2);
}

@media (width > 1600px) {
  .wrapper {
    padding-inline: calc($index * 6);
  }
}
@media (width < 1330px) {
  .wrapper {
    padding-inline: calc($index * 1.5);
  }
  .container {
    box-shadow: none;
    flex-direction: row;
    padding: 0;
  }
  .categories__wrapper h2 {
    text-align: start;
    color: $primary-color;
  }
  .categories {
    flex-direction: column;
    justify-content: start;
    button {
      text-align: start;
    }
  }
  .products {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media (width < 1200px) {
  .products {
    grid-template-columns: repeat(2, 1fr);
    margin-inline: auto;
  }
}
@media (width < 864px) {
  .wrapper {
    padding-inline: $index;
  }
  .container {
    flex-direction: column;
  }
  .categories {
    flex-direction: row;
    flex-wrap: wrap;
  }
}
@media (width < 560px) {
  .products {
    grid-template-columns: 1fr;
  }
}
