@import './Variables.scss';

.container {
  padding: calc($index * 3) calc($index * 4);
  display: flex;
  flex-direction: column;
  gap: calc($index * 3);
}
.hero {
  text-align: center;
}
.PctConatactCard {
  box-shadow: inset 0 0 10px rgba(black, .25);
  border-radius: calc($index * 2);
  padding: calc($index * 2) calc($index * 3);
  height: 60svh;
  display: flex;
  justify-content: space-between;
}
.partner {
  padding: calc($index * 2) calc($index * 3);
  background-color: $accent-color;
  border-radius: calc($index * 2);
  box-shadow: 0 10px 20px rgba(black, .5);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 60px;
  h1 {
    color: white;
  }
  ul {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: calc($index * 2);
    li {
      max-width: 15svw;
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 1.5rem;
      a {
        color: $yellow;
        transition: $transition;
        &:hover {
          color: $primary-color;
        }
      }
      img {
        width: 16%;
      }
    }
  }
}