@import './Variables.scss';

.wrapper {
  padding: calc($index * 3);
  h1, h2 {
    text-align: center;
  }
}
.container {
  margin-top: 100px;
  padding-inline: calc($index * 3);
  display: grid;
  gap: 100px;
}
.sectionDocs {
  h2 {
    margin-bottom: 60px;
  }
}
.patentsContainer, .awardsContainer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  li {
    display: block;
    a {
      width: min-content;
      height: min-content;
    }
  }
}
.imgDocs {
  width: calc($index * 12);
}
.listing {
  display: flex;
  flex-direction: column;
  gap: 8px;
  .docsLinks {
    display: flex;
    gap: 10px;
    a {
      transition: $transition;
      &:hover {
        text-decoration: underline;
      }
    }
  }
}
.downloadIcon {
  width: 20px;
  aspect-ratio: 1;
}
.sectionDocs {
  padding: calc($index * 2);
  border-radius: calc($index * 2);
  box-shadow: inset 0 0 10px rgba(black, .25);
}

@media (width < 1200px) {
  .container {
    padding: 0;
  }
}
@media (width < 900px) {
  .wrapper {
    padding: calc($index * 2);
  }
  .container {
    gap: 60px;
  }
  .patentsContainer, .awardsContainer {
    gap: 30px;
  }
}
@media (width < 480px) {
  .container {
    gap: 30px;
  }
  .sectionDocs h2 {
    margin-bottom: 30px;
  }
}
@media (width < 340px) {
  .sectionDocs {
    box-shadow: none;
    padding: 0;
  }
}