@import "./Variables.scss";

.container {
  display: flex;
  flex-direction: column;
}
.title {
  display: flex;
  align-items: center;
}
.hero__container {
  max-width: 35svw;
  margin-inline: auto;
  .hero {
    font-size: calc($index * 2.3);
    color: $primary-color;
    font-weight: 600;
    span {
      font-weight: 300;
      color: $text-color;
    }
  }
  p {
    font-weight: 500;
    color: $text-color;
    text-wrap: balance;
  }
}
.title__image {
  width: 40svw;
  border-radius: calc($index * 1.5);
  box-shadow: 0 8px 16px rgba(black, 0.5);
  image-rendering: pixelated;
}
.products {
  box-shadow: inset 0 0 10px rgba(black, 0.25);
  border-radius: calc($index * 2);
  padding: calc($index * 2);
  display: flex;
  flex-direction: column;
  gap: calc($index * 2);
  h1 {
    text-align: center;
  }
}
.products__container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.openAllProducts {
  max-width: fit-content;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  transition: $transition linear;
  span {
    width: 11px;
    height: 11px;
    border: 1px solid transparent;
    border-right-color: $text-color;
    border-bottom-color: $text-color;
    transform: rotate(-45deg);
    transition: inherit;
  }
  @media (hover: hover) {
    &:hover {
      color: $primary-color;
      span {
        border-right-color: $primary-color;
        border-bottom-color: $primary-color;
      }
    }
    &:active {
      color: $yellow;
      span {
        border-right-color: $yellow;
        border-bottom-color: $yellow;
      }
    }
  }
  @media (hover: none) {
    &:active {
      color: $primary-color;
      span {
        border-right-color: $primary-color;
        border-bottom-color: $primary-color;
      }
    }
  }
}
.advantages {
  display: flex;
  flex-direction: column;
  gap: 6rem;
  h1 {
    text-align: center;
  }
}
.advantages__container {
  display: flex;
  justify-content: space-around;
}
.advantages__item {
  display: flex;
  flex-direction: column;
  gap: 120px;
  article {
    width: 360px;
    padding: $index;
    border: 1px solid $titan-color;
    border-radius: $index;
    box-shadow: 0 5px 10px rgba(black, 0.25);
    h2 {
      margin-bottom: 1.5rem;
    }
  }
}
.logo__container {
  display: flex;
  align-items: center;
  a {
    width: min-content;
    height: min-content;
  }
  img {
    width: calc($index * 8);
  }
}

@media (width > 1600px) {
  .container section {
    padding-inline: calc($index * 6);
  }
}
@media (width < 950px) {
  .logo__container {
    display: none;
  }
  .advantages__container {
    flex-direction: column;
    gap: 60px;
  }
  .advantages__item {
    gap: 60px;
    article:nth-child(2) {
      margin-left: auto;
    }
  }
}
@media (width < 780px) {
  .title {
    flex-direction: column;
    gap: calc($index * 2);
  }
  .hero__container {
    max-width: 80svw;
  }
  .title__image {
    width: 85svw;
    aspect-ratio: 19 / 9;
    object-fit: cover;
    object-position: center;
  }
  .logo__container {
    display: none;
  }
  .products {
    box-shadow: none;
    padding: 0 0 40px 0;
    border-radius: 0;
    border-bottom: 1px solid $text-color;
  }
  .products__container {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 1fr);
    gap: $index;
    justify-content: space-evenly;
  }
}
@media (width < 450px) {
  .advantages__item article {
    width: 100%;
    margin: 0;
  }
}