@import './Variables.scss';

.container {
  display: flex;
  flex-direction: column;
  gap: 120px;
}
.home__title {
  display: flex;
  align-items: center;
}
.heroTitle__container {
  max-width: 35svw;
  margin-inline: auto;
  .heroTitle {
    font-size: calc($index * 2.4);
    font-weight: 500;
  }
  h4 {
    font-weight: 500;
    color: $text-color;
  }
}
.imageTitle {
  width: 40svw;
  border-radius: $index;
  box-shadow: 0 8px 16px rgba(black, .5);
}
.sectionProducts {
  display: flex;
  flex-direction: column;
  gap: 60px;
  background-color: $titan-color;
  padding: calc($index * 2);
  border-radius: calc($index * 2);
  box-shadow: inset 0 0 10px rgba(black, .25);
  h1 {
    text-align: center;
    color: white;
    font-size: calc($index * 1.5);
    text-shadow: 0 4px 8px rgba(black, .25);
  }
}
.categories {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid white;
  padding-bottom: $index;
}
.categories__button {
  padding: calc($index * .5) $index;
  border-radius: calc($index * 2);
  color: white;
  font-size: calc($index * 1);
  font-weight: 500;
  transition: $transition ease;
  &:hover {
    background-color: $main-color;
    color: $text-color;
  }
  &:active {
    color: $accent-color;
    border-color: $accent-color;
  }
}
.activeBtn {}
.products {
  position: relative;
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: repeat(4, 1fr);
  row-gap: calc($index * 4);
  place-items: center;
}
.advantages {
  display: flex;
  flex-direction: column;
  gap: 6rem;
  h1 {
    text-align: center;
  }
}
.advantages__container {
  display: flex;
  justify-content: space-around;
  .advantages__container__item {
    display: flex;
    flex-direction: column;
    gap: 8rem;
    article {
      max-width: 24svw;
      h2 {
        margin-bottom: 1.5rem;
      }
    }
  }
}
.partner {
  background-color: $titan-color;
  border-radius: calc($index * 2);
  box-shadow: inset 0 0 10px rgba(black, .25);
  padding: calc(($index * 2));
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 60px;
  h1 {
    color: white;
  }
  ul {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: calc($index * 2);
    li {
      max-width: 15svw;
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 1.5rem;
      a {
        color: $yellow-color;
        transition: $transition;
        &:hover {
          color: $accent-color;
        }
      }
      img {
        width: 28%;
      }
    }
  }
}
