@import-normalize;
@import "./Variables.scss";
@font-face {
  font-family: "FuturaBookC";
  src: url("../assets/fonts/futura/futurabookc.eot"); /* IE 9 Compatibility Mode */
  src:
    url("../fonts/futurabookc.eot?#iefix") format("embedded-opentype"),
    /* IE < 9 */ url("../assets/fonts/futura/futurabookc.woff2") format("woff2"),
    /* Super Modern Browsers */ url("../assets/fonts/futura/futurabookc.woff")
      format("woff"),
    /* Firefox >= 3.6, any other modern browser */
      url("../assets/fonts/futura/futurabookc.ttf") format("truetype"),
    /* Safari, Android, iOS */
      url("../assets/fonts/futura/futurabookc.svg#futurabookc") format("svg"); /* Chrome < 4, Legacy iOS */
}
@font-face {
  font-family: "FuturaBookC-Italic";
  src: url("../assets/fonts/futura/futurabookc-italic.eot"); /* IE 9 Compatibility Mode */
  src:
    url("../assets/fonts/futura/futurabookc-italic.eot?#iefix")
      format("embedded-opentype"),
    /* IE < 9 */ url("../assets/fonts/futura/futurabookc-italic.woff2")
      format("woff2"),
    /* Super Modern Browsers */
      url("../assets/fonts/futura/futurabookc-italic.woff") format("woff"),
    /* Firefox >= 3.6, any other modern browser */
      url("../assets/fonts/futura/futurabookc-italic.ttf") format("truetype"),
    /* Safari, Android, iOS */
      url("../assets/fonts/futura/futurabookc-italic.svg#futurabookc-italic")
      format("svg"); /* Chrome < 4, Legacy iOS */
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
body {
  width: $full-width;
  margin: 0;
  padding-block: 30px;
  font-family: -apple-system, BlinkMacSystemFont, "Roboto", "Ubuntu",
    "FuturaBookC", "FuturaBookC-Italic", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: calc($index * 0.8);
  color: $text-color;
  line-height: 1.25;
  letter-spacing: 0.05em;
  background-color: $basic-color;
}
ul li {
  list-style: none;
}
a {
  cursor: pointer;
  text-decoration: none;
  text-transform: none;
  color: $text-color;
  font-family: "Montserrat", sans-serif;
}
button {
  user-select: none;
  outline: none;
  border: none;
  background: none;
  cursor: pointer;
  color: $text-color;
  padding: calc($index * 0.4) calc($index * 0.8);
  font-size: calc($index * 0.8);
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  letter-spacing: 1px;
}
h1,
h1,
h3 {
  font-family: "Montserrat", sans-serif;
}
p {
  // font-family: 'Ubuntu';
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
}
.header,
.footer {
  width: $full-width;
  padding-inline: calc($index * 2);
}
.footer {
  margin-top: 60px;
  .footer__container {
    padding: $index;
    border-top: 1px solid $titan-color;
    .footer__content {
      display: flex;
      align-items: center;
      gap: 5px;
    }
  }
}
.header__container,
.footer__container {
  padding-inline: $index;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.pagesMenu {
  margin-block: calc($index * 0.5);
  padding: calc($index * 0.6);
  border-radius: calc($index * 2);
  box-shadow: inset 0 0 9px rgba(black, 0.25);
  ul {
    display: flex;
    gap: calc($index * 1.28);
    li button {
      border-radius: calc($index * 2);
      border: 1px solid transparent;
      transition: $transition;
      &:hover {
        color: $primary-color;
        border-color: $primary-color;
      }
    }
    .active {
      user-select: none;
      pointer-events: none;
      cursor: default;
      button {
        color: white;
        background-color: $primary-color;
        box-shadow: 0 3px 6px rgba(black, 0.25);
      }
    }
  }
}
.logoPct {
  width: calc($index * 4);
}
main {
  width: $full-width;
}
section {
  padding: calc($index * 3);
}
.grey {
  background-color: $titan-color;
}
.docsList {
  ul {
    display: flex;
    flex-direction: column;
    gap: 0.3rem;
    li {
      list-style: disc;
      a {
        transition: $transition;
        &:hover {
          color: $primary-color;
          text-decoration: underline;
        }
      }
    }
  }
}
.title {
  color: $primary-color;
  text-align: center;
  text-shadow: 0 3px 6px rgba(black, .25);
}
.text {
  font-size: calc($index * 0.7);
  font-weight: 400;
  color: rgba($text-color, .55);
}
.link {
  transition: $transition;
  &:hover {
    color: $primary-color;
  }
}
