@import-normalize;
@import "./Variables.scss";

@font-face {
  font-family: "FuturaBookC";
  src: url("../assets/fonts/futura/futurabookc.eot"); /* IE 9 Compatibility Mode */
  src:
    url("../fonts/futurabookc.eot?#iefix") format("embedded-opentype"),
    /* IE < 9 */ url("../assets/fonts/futura/futurabookc.woff2") format("woff2"),
    /* Super Modern Browsers */ url("../assets/fonts/futura/futurabookc.woff")
      format("woff"),
    /* Firefox >= 3.6, any other modern browser */
      url("../assets/fonts/futura/futurabookc.ttf") format("truetype"),
    /* Safari, Android, iOS */
      url("../assets/fonts/futura/futurabookc.svg#futurabookc") format("svg"); /* Chrome < 4, Legacy iOS */
}
@font-face {
  font-family: "FuturaBookC-Italic";
  src: url("../assets/fonts/futura/futurabookc-italic.eot"); /* IE 9 Compatibility Mode */
  src:
    url("../assets/fonts/futura/futurabookc-italic.eot?#iefix")
      format("embedded-opentype"),
    /* IE < 9 */ url("../assets/fonts/futura/futurabookc-italic.woff2")
      format("woff2"),
    /* Super Modern Browsers */
      url("../assets/fonts/futura/futurabookc-italic.woff") format("woff"),
    /* Firefox >= 3.6, any other modern browser */
      url("../assets/fonts/futura/futurabookc-italic.ttf") format("truetype"),
    /* Safari, Android, iOS */
      url("../assets/fonts/futura/futurabookc-italic.svg#futurabookc-italic")
      format("svg"); /* Chrome < 4, Legacy iOS */
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}
body {
  position: relative;
  width: $full-width;
  font-family: -apple-system, BlinkMacSystemFont, "Roboto", "Ubuntu",
    "FuturaBookC", "FuturaBookC-Italic", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 16px;
  color: $text-color;
  line-height: 1.25;
  letter-spacing: 0.05em;
  background-color: $basic-color;
}
ul li, .slide {
  list-style: none;
}
a {
  cursor: pointer;
  text-decoration: none;
  text-transform: none;
  color: $text-color;
  font-family: "Montserrat", sans-serif;
}
button {
  user-select: none;
  outline: none;
  border: none;
  background: none;
  cursor: pointer;
  color: $text-color;
  padding: 5px 12px;
  font-size: 16px;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  letter-spacing: 1px;
}
.button {
  width: max-content;
  height: fit-content;
  border-radius: calc($index * 2);
  border: 1px solid transparent;
  transition: $transition linear;
  @media (hover: hover) {
    &:hover {
      border-color: $primary-color;
      color: $primary-color;
    }
  }
  &:active {
    color: white;
    background-color: $primary-color;
  }
  &:disabled {
    pointer-events: none;
    opacity: .8;
    background-color: $titan-color;
    border-color: $text-color;
    color: $text-color;
  }
}
h1,
h1,
h3 {
  font-family: "Montserrat", sans-serif;
}
p {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
}
.header,
.footer {
  position: relative;
  padding: $index;
  width: $full-width;
  padding-inline: calc($index * 2);
}
.footer {
  background: $accent-color;
  color: white;
  margin-top: 60px;
  box-shadow: 0 -5px 10px rgba(black, 0.25);
}
.footer__content {
  display: flex;
  align-items: center;
  gap: 5px;
}
.header__container,
.footer__container {
  position: relative;
  padding-inline: $index;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.copyraght {
  color: $orange;
}
.burger {
  position: relative;
  width: 24px;
  height: 18px;
  padding: 0;
  z-index: 50;
  span {
    display: block;
    width: 18px;
    height: 2px;
    border-radius: 2px;
    background-color: $text-color;
    margin-left: auto;
    transition: $transition;
  }
  &::before,
  &::after {
    content: "";
    position: absolute;
    right: 0;
    width: 100%;
    height: 2px;
    border-radius: 2px;
    background-color: $text-color;
    transition: $transition;
  }
  &::before {
    top: 0;
  }
  &::after {
    bottom: 0;
  }
}
.closeBurger {
  &::before {
    top: 50%;
    transform: rotate(45deg) translateY(-50%);
  }
  &::after {
    bottom: 50%;
    transform: rotate(-45deg)  translateY(50%);
  }
  span {
    visibility: hidden;
  }
}
.closeMenu {
  position: absolute;
}
.closeMenu__active {
  width: 100svw;
  height: 100svh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 50;
  background-color: rgba(black, .25);
  cursor: pointer;
  transition: $transition;
}
.burger {
  display: none;
}
.pagesMenu {
  background-color: $basic-color;
  margin-block: calc($index * 0.5);
  padding: calc($index * 0.5);
  border-radius: calc($index * 2);
  box-shadow: inset 0 0 9px rgba(black, 0.25);
  ul {
    display: flex;
    gap: $index;
    li .active {
      user-select: none;
      pointer-events: none;
      cursor: default;
      button {
        color: white;
        background-color: $primary-color;
        box-shadow: 0 3px 6px rgba(black, 0.25);
      }
    }
  }
}
.logoPct {
  width: calc($index * 4);
}
main {
  width: $full-width;
}
.grey {
  background-color: $titan-color;
}
.docsList {
  ul {
    display: flex;
    flex-direction: column;
    gap: 0.3rem;
    li {
      list-style: disc;
      a {
        transition: $transition;
      }
      @media (hover: hover) {
        a:hover {
          color: $primary-color;
          text-decoration: underline;
        }
        
      }
    }
  }
}
.title {
  color: $primary-color;
  text-align: center;
  text-shadow: 0 3px 6px rgba(black, 0.25);
}
.text {
  font-size: 14px;
  font-weight: 400;
  color: rgba($text-color, 0.55);
}
.link {
  transition: $transition;
  &:hover {
    color: $primary-color;
  }
}
.container {
  display: flex;
  flex-direction: column;
  gap: 100px;
  padding-inline: calc($index * 3);
}
.section {
  padding: calc($index * 2);
}
.slider__wrapper {
  box-shadow: inset 0 0 10px rgba(black, 0.25);
  border-radius: calc($index * 2);
  padding-block: calc($index * 2);
  display: flex;
  flex-direction: column;
  gap: calc($index * 2);
  h1, h2 {
    text-align: center;
  }
}
.slider {
  width: calc(100svw - ($index * 6));
  overflow-x: scroll;
}
.slider__container {
  width: max-content;
  display: flex;
  gap: $index;
  padding: $index;
}
.slider__slide {
  width: min-content;
  height: min-content;
}
@media (width > 1600px) {
  button {
    padding: calc($index * 0.3) calc($index * 0.6);
  }
  .header,
  .footer {
    padding-inline: calc($index * 4);
  }
  .pagesMenu {
    padding: calc($index * 0.4);
    ul {
      gap: calc($index * 1);
    }
  }
}
@media (width > 1600px) {
  .text {
    font-size: 16px;
  }
  .container {
    padding-inline: calc($index * 6);
  }
}
@media (width < 1280px) {
  .footer__container {
    flex-direction: column;
    .footer__content {
      margin-right: auto;
    }
    .pagesMenu {
      margin-left: auto;
    }
  }
}
@media (width < 940px) {
  .container {
    padding-inline: calc($index * 2);
  }
  .slider {
    width: calc(100svw - ($index * 4));
  }
  .burger {
    display: block;
  }
  .pagesMenu {
    position: fixed;
    top: $index;
    left: 0;
    z-index: 100;
    box-shadow: 0 0 9px rgba(black, 0.25);
    padding: $index;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    transform: translateX(-100%);
    transition: 0.3s linear;
    ul {
      flex-direction: column;
    }
  }
  .pagesMenuActive {
    transform: translateX(0);
    animation: fadeOut .3s linear;
  }
  @keyframes fadeOut {
    from {
      transform: translateX(-100%);
    }
  }
}
@media (width < 780px) {
  .container {
    padding: $index;
  }
  .slider__wrapper {
    box-shadow: none;
    padding: 0 0 40px 0;
    border-radius: 0;
    border-bottom: 1px solid $text-color;
  }
  .slider {
    padding: 0;
    width: calc(100svw - ($index * 2));
  }
  .slider__slideContainer {
    width: calc(100svw - ($index * 2));
  }
}
@media (width < 440px) {
  .footer__content {
    flex-direction: column;
    align-items: flex-start;
  }
}
@media (hover: none) {
  .button, a {
    transition: none;
  }
  .slider__slideContainer {
    scrollbar-width: none;
  }
}