@import './Variables.scss';

.wrapper {
  display: flex;
  flex-direction: column;
  gap: calc($index * 3);
  padding: calc($index * 3);
}
.container {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid $titan-color;
  padding: $index;
  padding-bottom: calc($index * 3);
}
.contentProduct {
  display: flex;
  flex-direction: column;
  gap: calc($index * 2);
}
.title {
  display: grid;
  justify-items: center;
  gap: $index;
} 
.orderButton {
  border-radius: calc($index * 2);
  padding-inline: 0;
  .orderButton__link {
    color: white;
    font-size: calc($index * .9);
    background-color: $primary-color;
    border-radius: calc($index * 2);
    border: 1px solid $primary-color;
    padding: calc($index * .5) calc($index * 5);
    box-shadow: 0 5px 10px rgba(black, .25);
    transition: $transition linear;
    &:hover {
      background-color: transparent;
      color: $primary-color;
      box-shadow: none;
    }
    &:active {
      color: $yellow;
      border-color: $yellow;
    }
  }
  &:disabled {
    pointer-events: none;
    opacity: .8;
    .orderButton__link {
      background-color: $titan-color;
      border-color: $text-color;
      color: $text-color;
    }
  }
}
.textNotOrder {
  color: $red;
}
.docsLi {
  display: flex;
  flex-direction: column;
  gap: $index;
  box-shadow: inset 0 0 10px rgba(black, .25);
  border-radius: calc($index * 1.5);
  padding: calc($index * 2);
}
.imageProduct {
  aspect-ratio: 1;
  width: calc($index * 20);
  object-fit: cover;
  border-radius: $index;
  box-shadow: 0 8px 16px rgba(black, .25);
}