@import "./Variables.scss";

$card-width: calc($index * 13);

.card {
  display: block;
  position: relative;
  width: $card-width;
  aspect-ratio: 9 / 10;
  border-radius: $index;
  box-shadow: 0 5px 10px rgba(black, 0.25);
  cursor: pointer;
  transition: $transition linear;
  .goText {
    opacity: 0;
    transition: $transition linear;
  }
  &:hover {
    transform: translateY(-3%);
    box-shadow: 0 15px 30px rgba(black, 0.25);
    .goText {
      opacity: 1;
    }
  }
}
.card__container {
  width: inherit;
  height: 100%;
  border-radius: inherit;
  background-color: $basic-color;
  display: grid;
}
.img__container {
  overflow: hidden;
  width: min-content;
  height: min-content;
  img {
    width: $card-width;
    border-radius: $index;
    aspect-ratio: 4 / 3;
    object-fit: cover;
  }
}
.product__title {
  padding: 0.6rem 1rem;
  display: grid;
  justify-content: space-between;
}
