@import './Variables.scss';

.card {
  width: calc($index * 13);
  border-radius: $index;
  background-color: $main-color;
  overflow: hidden;
  box-shadow: 0 5px 10px rgba(black, .25);
  cursor: pointer;
  transition: $transition linear;
  img {
    width: inherit;
    border-radius: inherit;
    aspect-ratio: 1;
    object-fit: cover;
    transition: inherit;
  }
  &:hover {
    transform: translateY(-5%);
  }
}
.card__title {
  padding: .6rem 1rem;
  margin-top: .5rem;
}
