$index: calc(1vw + 1vh);
$full-width: 100svw;
$main-color: #f4f5f6;
$accent-color: #7C07A9;
$yellow-color: #E9B700;
$orange: #ffa500;
$text-color: #363940;
$titan-color: rgba($text-color, .8);
$transition: .25s;